.card-container {
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 64%;
}

.vote-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 18%;
}

.card-tittle {
    font-size: 35px;
    font-weight: bold;
}

.card-present {
    font-size: 30px;
    font-style: italic;
    font-weight: normal;
    color: blue;
}

.card-tittle:hover {
    cursor: pointer;
}

.card-text {
    font-size: 25px;
}

.card-vote-text {
    font-size: 30px;
}