.card-container {
    display: flex;
    flex-direction: row;

    width: 15vw;
    height: 8vw;
}

.index-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    margin: 8px 0;
}

.index-play {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.index-delete:hover {
    cursor: pointer;
}

.card-paper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

    width: 100%;

    margin: 8px;
    padding: 8px;

    border: 1px solid #b7bac2;
    border-radius: 5px;
    background-color: white;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.card-paper:hover {
    cursor: pointer;
}

.card-text {
    font-size: 20px;
}

.card-icon {
    font-size: 40px;
}