.join {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.join__title {
  font-size: 1.3rem;
  font-weight: normal;
  margin-top: 50px;
}

.join__group-name {
  font-size: 1.5rem;
  font-weight: bold;
}

.join__button {
  margin-top: 10px;
}