.presentation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  z-index: 100;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.presentation__content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  height: 100vh;
  width: 70vw;
  justify-content: center;
  align-items: center;
  position: relative;
}

.presentation__name {
  font-size: 35px;
  margin: 20px;
}

.presentation__question {
  font-size: 20px !important;
  margin: 10px;
}

.presentation__options {
  display: flex !important;
  flex-direction: column  !important;
  flex-wrap: nowrap  !important;
  max-height: 300px  !important;
  overflow-y: auto  !important;
}

.presentation__option {
  display: block;
  transition: all ease-out 0.2s;
  padding: 10px 10px;
  border-radius: 10px;
  margin: 0 !important;
}

.presentation__option:hover {
  background-color: #eee;
}

.presentation__button {
  margin-block-start: 20px !important;
}

.presentation__note {
  font-size: 20px;
}

.presentation__box_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.presentation__exit {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 50px;
  top: 50px;
  color: white;
  background-color: #ccc;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  transition: all ease-out 0.2s;
}